
<h1 class="victor">Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>
<%= link_to 'New article', new_article_path %>

<div class="row">
  <div class="col-md-6">
    <table class="table table-responsive">
      <tr align="center">
        <th>No</th>
        <th>Title</th>
        <th>Text</th>
        <th>Action</th>
      </tr>
     
      <% i = 0 %>
      <% @articles.each do |article| %>
      <% i+=1 %>
        <tr>
          <td><%= "#{i}" %></td>
          <td><%= article.title %></td>
          <td><%= article.text %></td>
          <td><%= link_to 'Show', article_path(article) %> | <%= link_to 'Edit', edit_article_path(article) %> | <%= link_to 'Destroy', article_path(article),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>